<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d56d67">  <td>20/07/07 09:23:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTestCases.addNewUser(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.Way2Assessment.WebTestCases@56ef9176]">addNewUser</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/07/07 09:23:24</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTestCases.addNewUser(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.Way2Assessment.WebTestCases@56ef9176]">addNewUser</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/07/07 09:23:10</td>   <td>-13636</td> <td>&nbsp;</td><td title="&gt;&gt;WebTestCases.setUp()[pri:0, instance:com.Way2Assessment.WebTestCases@56ef9176]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/07/07 09:23:24</td>   <td>446</td> <td>&nbsp;</td><td title="&lt;&lt;WebTestCases.tearDown()[pri:0, instance:com.Way2Assessment.WebTestCases@56ef9176]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/07/07 09:23:24</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTestCases.validateUserOnTheList(java.lang.String)[pri:0, instance:com.Way2Assessment.WebTestCases@56ef9176]">validateUserOnTheList</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/07/07 09:23:24</td>   <td>269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTestCases.verifyAddedUser(java.lang.String)[pri:0, instance:com.Way2Assessment.WebTestCases@56ef9176]">verifyAddedUser</td> 
  <td>main@3213500</td>   <td></td> </tr>
<tr bgcolor="d56d67">  <td>20/07/07 09:23:24</td>   <td>360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WebTestCases.verifyAddedUser(java.lang.String)[pri:0, instance:com.Way2Assessment.WebTestCases@56ef9176]">verifyAddedUser</td> 
  <td>main@3213500</td>   <td></td> </tr>
</table>
